:root { 
  --sidebar-w: 240px;
  --bg: #a4abad;
  --menu-bg: rgb(12 17 28);
  --link: #ffffff;
}

* { box-sizing: border-box; }
html, body { height: 100%; }

body{
  margin: 0;
  background-color: var(--bg);
  font-family: 'Roboto', Arial, sans-serif;
  background-color: rgb(17 24 39)
}


.menu{
  position: fixed;
  top: 0; left: 0; bottom: 0;  /* ocupa altura toda */
  width: var(--sidebar-w);
  background-color: var(--menu-bg);
  padding: 16px;
  display: flex;               
}

.nav{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav-item{
  display: block;
  padding: 10px 12px;
  color: var(--link);
  text-decoration: none;
}

.nav-item:hover{
  background: rgba(255,255,255,0.08);
}

#conteudo{
  margin-left: var(--sidebar-w);  
  min-height: 100vh;
  padding: 24px;
}

#sendEmail{
  background-color: #0b57d0; /* Green */
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#sendEmail:hover{
  background-color: #4f7dc7;
}

table.inbox {
  width: 100%;
  border-collapse: collapse;           /* importante p/ a borda ficar colada */
  table-layout: fixed;                 /* colunas mais estáveis */
  font-size: 14px;
}

th, td {
  padding: 10px 12px;              
}

th {
  border-bottom: 1px solid #e6e6e6;
  text-align: left;
  
}

tr {
  color: white;
  background: #404552;

}

.cabecalho-tabela{
  background-color: #fe7605;
}
.linha-tabela{
  border-bottom: 1px solid #2c2f36;
}
.linha-tabela:hover {
  background: rgb(64, 89, 145);                 
}


.col-email { 
  width: 15%;
}

.col-assunto { 
  width: 15%; font-weight: 500; 
}

.col-mensagem { 
  width: 15%; color: white; 
}

.col-anexo {
  width: 8%; 
}

.col-class { 
  width: 6%; font-weight: 600; 
}

.col-resp {
  width: 26%; 
}

tbody, #enviar {
  cursor: pointer;
}

h1 {
  font-size: 24px;
  margin-bottom: 16px;
  margin-left: 45%;
  color: #fe7605 
}

#composeForm {
  position: fixed;         /* fixa na tela */
  bottom: 0;               /* gruda no rodapé */
  right: 0;                /* gruda na direita */
  width: 40%;              /* largura parecida com a caixa do Gmail */      
  box-shadow: 0 -2px 8px rgba(0,0,0,0.1);  /* sombra superior */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: none;
  flex-direction: column;
}

.label-email{
  color: var(--link);
  padding: 4px 8px;

}


#enviar {
  background-color: #0b57d0;
  border: none;
  color: white;
  gap: 10px;
  padding: 10px 18px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 20px;   /* pílula */
  align-self: center;
  margin-top: 10px;
  width: 100px;
  margin-left: 10px;
  margin-bottom: 10px;
}

#enviar:hover {
  background-color: #4f7dc7;
}


input,textarea {
  border: none;
  border-bottom: 1px solid #ccc; /* só linha embaixo */
  outline: none;
  padding: 6px 8px;
}



.attach{
  background-color: white;
}

#pdf{
  border:none
}

.titulo-email{
  display: flex;
  justify-content: space-between;
  background-color: var(--menu-bg);
      border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 10px;
}

#fechar-email{
  cursor: pointer;
  font-weight: bold;
  border: none;
  background: none;
  color: white;
  margin-right: 15px;
}

#botao_mensagem{
  background-color: #1d3c59;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 20px;
  width: 200px;
}

#botao_mensagem:hover{
  background-color: #2e3a45;
}


/* padrão: truncado */
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
}

.expandido td {
  white-space: normal; /* volta a permitir quebra de linha em espaços e pontuação (desfaz o nowrap) */
  overflow-wrap: anywhere; 
   /* permite quebrar palavras gigantes sem espaços (tipo AAAAAAAA 10000x)
    em qualquer ponto para não “estourar” a coluna */
}

.btn-eye {
  cursor: pointer;
  margin-right: 6px;
}


