{% extends 'base.html' %}

{% block body %}
    
    <h1>Case AutoU </h1>


     <table class="inbox">
        <thead class="thead">
          <tr class="cabecalho-tabela">
            <th class="col-email">Email</th>
            <th class="col-assunto">Assunto</th>
            <th class="col-mensagem">Mensagem</th>
            <th class="col-anexo">Anexo</th>
            <th class="col-class">Classificação</th>
            <th class="col-resp">Resposta Sugerida</th>
          </tr>
        </thead>
        {% for email in emails %}
        <tr class="linha-tabela">
          <td class="col-email ellipsis">
              <img class="btn-eye" src="{{ url_for('static', filename='icones/eye.svg') }}" 
                    alt="Olho" width="20" height="20">

            {{ email["email"] }}
          </td>
          <td class="col-assunto ellipsis">{{ email["assunto"] }}</td>
          <td class="col-mensagem ellipsis">{{ email["mensagem"] }}</td>
          {% if email["anexo_pdf"] %}
            <td class="col-anexo ellipsis">
              {% if email["anexo_pdf"].endswith(".pdf") %}
                <a href="{{ url_for('page.mostra_pdf', filename=email['anexo_pdf']) }}" target="_blank" title="Abrir PDF">
                  <img src="{{ url_for('static', filename='icones/pdf.svg') }}" class="btn-pdf" alt="PDF" width="20" height="20" style="cursor:pointer;">
                </a>
              {% elif email["anexo_pdf"].endswith(".txt") %}
                <a href="{{ url_for('page.mostra_pdf', filename=email['anexo_pdf']) }}" target="_blank" title="Abrir TXT">
                  <img src="{{ url_for('static', filename='icones/txt.svg') }}" class="btn-txt" alt="TXT" width="20" height="20" style="cursor:pointer;">
                </a>
              {% endif %}
            </td>
          {% else %}
            <td class="col-anexo ellipsis"></td>
          {% endif %}
          <td class="col-class ellipsis">{{ email["classificacao"] }}</td>
          <td class="col-resp ellipsis">{{ email["resposta_sugerida"] }}</td>
        </tr>


        {% endfor %}
    </table>
  <script  src="{{ url_for('static', filename='js/filtro.js') }}"></script>
{% endblock %}