{% extends 'base.html' %}

{% block body %}
    
    <h1>Opa to na home</h1>


     <table class="inbox">
        <thead>
          <tr>
            <th class="col-email">Email</th>
            <th class="col-assunto">Assunto</th>
            <th class="col-mensagem">Mensagem</th>
            <th class="col-anexo">Anexo</th>
            <th class="col-class">Classificação</th>
            <th class="col-resp">Resposta Sugerida</th>
          </tr>
        </thead>
        {% for email in emails %}
        <tr>  
            <td>{{ email["email"] }}</td>
            <td>{{ email["assunto"] }}</td>
            <td>{{ email["mensagem"] }}</td>
            <td>{{ email["anexo"] }}</td>
            <td>{{ email["classificacao"] }}</td>
            <td>{{ email["resposta_sugerida"] }}</td>
        </tr>
        {% endfor %}
    </table>

   
{% endblock %}